* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

main {
  background-color: rgb(244, 247, 253);
}

a {
  text-decoration: none;
  color: rgb(20, 24, 33);
}

.container {
  width: 95%;
  margin: 0 auto;
}

.hdg {
  font-size: 20px;
  font-weight: 700;
}

.prg {
  font-size: 0.9em;
  font-weight: 500;
}

.bprg {
  font-size: 18px;
  font-weight: 700;
}

.sprg {
  font-size: 0.75em;
  font-weight: 400;
}

.shop_title {
  margin-top: 50px;
}

.shop_item {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
}

.main {
  background-color: #f4f7fd;
  padding: 100px 0;
}

.shop_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  margin-top: 50px;
}
.shop_card h2 {
  font-size: 14px;
}
.shop_card img {
  width: 150px;
}

.counter_btn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.counter_btn button {
  width: 40px;
  height: 40px;
  border: 1px solid blue;
  border-radius: 100%;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

.delete_shop {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.total_price {
  margin-top: 50px;
  background-color: #fff;
  height: 200px;
  padding: 30px;
  border-radius: 10px;
}
.total_price button {
  width: 80%;
  margin: 0 auto;
  background-color: #016aff;
  border: none;
  outline: none;
  color: #fff;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

header {
  padding-top: 2em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  height: 2.25em;
}
nav .logo img {
  width: 86px;
}
nav .bars_category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  height: 100%;
}
nav .bars_category #bars {
  display: none;
}
nav .bars_category .idle_category {
  width: 132px;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(0, 107, 255);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0 10px;
  cursor: pointer;
}
nav .nav_search {
  width: 40%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid rgb(0, 107, 255);
}
nav .nav_search input {
  font-size: 1em;
  padding-left: 0.5em;
  outline: none;
  border: none;
  width: 80%;
  background-color: transparent;
  height: 100%;
}
nav .nav_search div {
  background-color: rgb(0, 107, 255);
  color: rgb(255, 255, 255);
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
nav .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
nav .icons #close {
  display: none;
}
nav .icons div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
nav .icons div img {
  cursor: pointer;
}

hr {
  margin: 1.25em 0;
  border-color: rgba(128, 128, 128, 0.1);
}

.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-weight: 500;
  padding-bottom: 1em;
  cursor: pointer;
}
.categories #category_close {
  display: none;
}

.shop_icon {
  position: relative;
}
.shop_icon span {
  position: absolute;
  top: -10px;
  right: 10px;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
}

.products {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
}
.products .card {
  border-radius: 1.25em;
  background-color: rgb(255, 255, 255);
  padding: 1em;
  width: 100%;
}
.products .card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.products .card .title {
  margin-top: 1em;
  height: 39px;
}
.products .card .rating {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products .card .rating .stars {
  color: rgb(254, 115, 0);
  display: flex;
  gap: 0.1em;
}
.products .card .rating .comments {
  color: rgb(148, 163, 184);
  opacity: 0.8;
}
.products .card .price {
  margin-top: 0.75em;
}
.products .card .price .real_price {
  font-size: 0.75em;
  color: rgb(148, 163, 184);
  text-decoration: line-through;
}
.products .card .price .precent_price {
  font-size: 1.15em;
  font-weight: 700;
  color: rgb(0, 107, 255);
  padding: 0.5em 0;
}
.products .card .price .monthly_price {
  border: 2px solid rgb(254, 115, 0);
  padding: 0.5em;
  font-size: 0.9em;
  font-weight: 500;
  color: rgb(254, 115, 0);
  background-color: transparent;
  border-radius: 0.25em;
}
.products .card .adding_product {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}
.products .card .adding_product .btn {
  width: 100%;
  height: 40px;
  font-size: 0.8em;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 107, 255);
  border-radius: 0.6em;
  border: none;
}
.products .card .adding_product .btn_shop {
  width: 3.5em;
  height: 40px;
  border-radius: 0.6em;
  background-color: rgb(0, 191, 175);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

/* HTML: <div class="loader"></div> */
.loader {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  animation: l1 1s linear infinite alternate;
  height: 500px;
  display: none;
}

.loader:before {
  content: "Loading...";
}

@keyframes l1 {
  to {
    opacity: 0;
  }
}
footer {
  margin-top: 3em;
}
footer section {
  background-color: rgb(0, 107, 255);
  padding: 2.25em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer section .footer_top {
  background-color: rgb(255, 255, 255);
  border-radius: 1.25em;
  padding: 2em 3em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 1em;
}
footer section .footer_top .sprg {
  margin-top: 0.5em;
  color: rgb(148, 163, 184);
}

.footer_main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 2.5em 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
.footer_main .footer_main-item {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}
.footer_main .footer_main-item .bprg {
  padding-bottom: 0.5em;
}
.footer_main .footer_main-item .prg {
  color: rgb(148, 163, 184);
}
.footer_main .footer_main-item .footer_block-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
}
.footer_main .footer_main-item .footer_block {
  width: 9.3em;
  height: 3.5em;
  background-color: rgb(242, 242, 247);
  border-radius: 8px;
}
.footer_main .footer_main-item .footer_social {
  display: flex;
  gap: 0.75em;
}

.footer_bottom {
  text-align: center;
  color: rgb(148, 163, 184);
  padding: 1em;
}

@media (max-width: 1280px) {
  nav {
    gap: 0.5em;
    transition: 0.4s;
  }
  nav .icons {
    gap: 0.5em;
    transition: 0.4s;
  }
}
@media (max-width: 1170px) {
  nav {
    gap: 1.5em;
    flex-wrap: wrap;
    height: 2.5em;
  }
  nav .logo {
    width: 8em;
    transition: 0.4s;
  }
  nav .logo img {
    width: 100%;
  }
  nav .nav_search {
    width: 70%;
    transition: 0.4s;
  }
  nav .icons {
    gap: 1em;
    padding-top: 0.15em;
    font-size: 1.75em;
    width: 100%;
  }
}
@media (max-width: 1090px) {
  nav .nav_search {
    width: 68%;
  }
  nav .nav_search div {
    width: 90px;
  }
}
@media (max-width: 1020px) {
  nav .nav_search {
    width: 64%;
  }
}
@media (max-width: 901px) {
  nav .nav_search {
    width: 60%;
  }
  nav .icons {
    font-size: 1em;
  }
}
@media (max-width: 811px) {
  nav .nav_search {
    width: 55%;
  }
}
@media (max-width: 750px) {
  nav .nav_search {
    width: 100%;
  }
}
@media (max-width: 640px) {
  nav .bars_category #bars {
    display: block;
  }
  nav .icons {
    position: fixed;
    top: 0;
    left: -200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
  }
  nav .icons #close {
    display: block;
    position: fixed;
    top: 1em;
    right: 1em;
  }
  nav .icons div {
    gap: 0.3em;
  }
}
@media (max-width: 360px) {
  nav .logo {
    width: 10em;
  }
  nav .bars_category {
    width: 100%;
    justify-content: flex-end;
  }
  nav .bars_category .idle_category {
    width: 88%;
  }
  nav .nav_search div {
    min-width: 80px;
  }
}
@media (max-width: 1170px) {
  hr {
    margin-top: 6em;
  }
}
@media (max-width: 900px) {
  hr {
    margin-top: 5em;
  }
}
@media (max-width: 750px) {
  hr {
    margin-top: 9em;
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.25em;
  }
}
@media (max-width: 690px) {
  .categories {
    font-size: 1em;
    transition: 0.4s;
  }
}
@media (max-width: 640px) {
  hr {
    margin-top: 6em;
  }
  .categories {
    display: flex;
    position: fixed;
    top: 0;
    right: -200%;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    width: 100%;
    height: 100vh;
    gap: 2em;
    font-size: 1.5em;
  }
  .categories #category_close {
    display: block;
    position: fixed;
    top: 1em;
    right: 1em;
  }
}
@media (max-width: 1024px) {
  .footer_main {
    font-size: 12px;
    transition: 0.4s;
  }
}
@media (max-width: 768px) {
  .footer_main {
    font-size: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer_main .footer_main-item .footer_block {
    width: 7.5em;
    height: 2.8em;
  }
  .footer_top {
    font-size: 12px;
    transition: 0.4s;
  }
}
@media (max-width: 640px) {
  .footer_top {
    font-size: 10px;
  }
}
@media (max-width: 580px) {
  .footer_main {
    font-size: 14px;
    grid-template-columns: repeat(2, 1fr);
  }
  footer section .footer_top {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .footer_main {
    font-size: 24px;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer_main .footer_main-item .bprg {
    font-size: 24px;
  }
  .footer_main .footer_main-item .footer_block {
    width: 100%;
    height: 3em;
  }
  footer section {
    padding: 1em 0;
  }
  footer section .footer_top {
    grid-template-columns: repeat(1, 1fr);
    justify-items: start;
    font-size: 16px;
    padding: 1.5em 1em;
  }
}

/*# sourceMappingURL=style.css.map */
